<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTestSuite" parallel="methods" thread-count="2">
    <test name="Test1">
        <classes>
            <!-- Specify your test classes here -->
            <class name="Java_Selenium.WebdriverBasics.WebDriver_Methods"/>
        </classes>
    </test>

</suite>
